<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./assit/style.css">
        <link rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.4.2/css/all.css">
        <title>Document</title>
    </head>
    <body>
        <div id="container">
            <img src="./img/logo.png" alt="">
            <div class="task-input">
                <input @keyup.enter="submit" class="input1"
                    placeholder="Nuovo Todo" type="Nuovo
                    titolo">
                <button @click="submit">Aggiungi</button>
            </div>
            <div class="short" v-if="short">
                <p>Scrivi almeno 4 caratteri</p>
            </div>
            <div class="nothing" v-if="nothing">
                <p>Non hai più niente da fare!</p>
            </div>
            <div class="list-container">
                <ul>
                    <li v-for="toDo in toDos">
                        <p contenteditable="true">{{toDo}}</p>
                        <div>
                            <i @click="removeTask(index)" class="fas fa-times"></i>
                            <!-- <i @click="modifyTask" class="fas fa-edit"></i> -->
                            <i @click="taskCompleted(index)" class="fas
                                fa-check"></i>
                        </div>

                    </li>
                </ul>
            </div>
            <div class="list-container">
                <ul>
                    <li v-for="completedTask in completedTasks">
                        <p>{{completedTask}}</p>
                        <i @click="restoreTask" class="fas fa-undo-alt"></i>
                    </li>
                </ul>


            </div>




        </div>




        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="./assit/main.js"></script>
    </body>
</html>